.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse; /* Ensures borders are properly displayed */
}

.table-bordered {
  border: 1px solid #dee2e6;
}

@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    width: 100%;
    min-width: 600px; /* Ensures the table takes at least this width */
    white-space: nowrap; /* Prevents text from wrapping */
  }

  .table thead, .table tbody, .table tr, .table td, .table th {
    display: block;
  }

  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr {
    margin-bottom: 0.625rem;
    display: flex; /* Flexbox layout for rows */
    flex-wrap: wrap; /* Allow wrapping of columns */
    justify-content: space-between; /* Distribute columns evenly */
  }

  .table td {
    border-bottom: 1px solid #dee2e6;
    position: relative;
    padding-left: 50%;
    text-align: right;
    flex: 1 1 100%; /* Flexbox for full-width columns */
    box-sizing: border-box;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}
